/*---------------------
  Shopping Cart
-----------------------*/
.shopping-cart__table {
  margin-bottom: 30px;

  table {
    width: 100%;

    thead {
      border-bottom: 1px solid $background-2;

      tr {

        th {
          color: $heading-color;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          padding-bottom: 25px;
        }
      }
    }

    tbody {

      tr {
        border-bottom: 1px solid $background-2;

        td {
          padding-bottom: 30px;
          padding-top: 30px;

          &.cart-item {
            width: 400px;

            .cart-item__pic {
              float: left;
              margin-right: 30px;
            }

            .cart-item__text {
              overflow: hidden;
              padding-top: 21px;

              h6 {
                color: $heading-color;
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 10px;
              }

              h5 {
                color: $color-17;
                font-weight: 700;
              }
            }
          }

          &.quantity__item {
            width: 175px;

            .quantity {

              .pro-qty-2 {
                width: 80px;

                input {
                  width: 50px;
                  border: none;
                  text-align: center;
                  color: $heading-color;
                  font-size: 16px;
                }

                .qtybtn {
                  font-size: 16px;
                  color: $color-16;
                  width: 10px;
                  cursor: pointer;
                }
              }
            }
          }

          &.cart__price {
            color: $heading-color;
            font-size: 18px;
            font-weight: 700;
            width: 140px;
          }

          &.cart__close {

            i {
              font-size: 18px;
              color: $heading-color;
              height: 40px;
              width: 40px;
              background: $color-1;
              border-radius: 50%;
              line-height: 40px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.continue__btn {

  &.update__btn {
    text-align: right;

    a,
    button {
      color: $white-color;
      background: $heading-color;
      border-color: $heading-color;

      i {
        margin-right: 5px;
      }
    }
  }

  a,
  button {
    color: $heading-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid $border-1;
    padding: 14px 35px;
    display: inline-block;
  }
}

.cart__discount {
  margin-bottom: 60px;

  h6 {
    color: $heading-color;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  form {
    position: relative;

    input {
      font-size: 14px;
      color: $color-13;
      height: 50px;
      width: 100%;
      border: 1px solid $border-1;
      padding-left: 20px;

      &::placeholder {
        color: $color-13;
      }
    }

    button {
      font-size: 14px;
      color: $white-color;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      background: $heading-color;
      padding: 0 30px;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
  }

}

.cart__total {
  background: $color-1;
  padding: 35px 40px 40px;

  h6 {
    color: $heading-color;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  ul {
    margin-bottom: 25px;

    li {
      list-style: none;
      font-size: 16px;
      color: $color-15;
      line-height: 40px;
      overflow: hidden;

      span {
        font-weight: 700;
        color: $primary-color;
        float: right;
      }
    }
  }

  .primary-btn {
    display: block;
    padding: 12px 10px;
    text-align: center;
    letter-spacing: 2px;
  }
}