$primary-color: #e53637;
$secondary-color: #0c2b4b;
$white-color: #ffffff;
$heading-color: #111111;
$para-color: #5C5C5C;
$black-color: #000000;
$heading-color-2: #323232;
$normal-color: #1c1c1c;
$background: #f5f5f5;
$background-2: #f2f2f2;
$border: #ebebeb;
$border-1: #e1e1e1;

$fm-unna: 'Unna', serif;
$fm-nunito: 'Nunito Sans', sans-serif;

$color-1: #f3f2ee;
$color-2: #333;
$color-3: #4267b2;
$color-4: #5469d4;
$color-5: #5e64d1;
$color-6: #404a47;
$color-7: #404040;
$color-8: #f1f5f8;
$color-9: #ed1c24;
$color-10: #d5a667;
$color-11: #0b090c;
$color-12: #20315f;
$color-13: #b7b7b7;
$color-14: #e5e5e5;
$color-15: #444444;
$color-16: #888888;
$color-17: #0d0d0d;
$color-18: #d6c1d7;
$color-19: #e8bac4;
$color-20: #57594d;
$color-21: #636068;
$color-22: #f1af4d;
$color-23: #3d3d3d;
$color-24: #f7941d;
$color-25: #b9b9b9;
$color-26: #707070;
$color-27: #d7d7d7;
$color-28: #77b527;
$color-29: #f44336;
$color-30: #999;
$color-31: #673ab7;

$color-twitter: #1da1f2;
$color-youtube : #fe0003;
$color-linkedin : #0173b2;
